<% if @topic.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %>:</h2>
    <ul>
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
<%= form.label(:title, "Title:") %>
<%= form.text_field(:title) %>
</p>
<p>
<%= form.label(:content, "Content:") %> <br>
<%= text_area(:post, :content) %>
</p>
<input type="button" id="preview-button" value="Preview" />
<%= form.submit %>
