<%= render :partial => "common/error", :locals => { :errors => @topic.errors } %>

<p>
<%= f.label(:title, "Title:") %>
<%= f.text_field(:title) %>
</p>
<p>
<%= f.label(:content, "Content:") %> <br>
<%= text_area(:post, :content) %>
</p>
<%= hidden_field_tag(:attachment_ids, "") %>
<input type="button" id="preview-button" value="Preview" />
<%= f.submit %>

