<div>
  Forum &gt;&gt; <%= link_to(@board.name, board_path(@board)) %>
</div>

<div>
  <%= link_to("Reply To This Topic", new_board_topic_post_path(@board, @topic)) %>
</div>

<h2><%= @topic.title %></h2>

<%= will_paginate @posts %>
<%= render :partial => "post", :collection => @posts %>
<%= will_paginate @posts %>
