<ul>
  <li>
    Username: <%= @user.name %>
  </li>
  <li>
    Registered At: <%= @user.created_at %>
  </li>
  <li>
    Topics: <%= @user.topics_count %>
  </li>
  <li>
    Posts: <%= @user.posts_count %>
  </li>
</ul>

<%= render :partial => "common/topic_excerpt", 
  :collection => @user.topics.last(10), 
  :as => :topic
%>
