<% content_for(:sidebar) do %>
  <%=render :partial => "categories/category_tree" %>
<% end %>
<h2>Board: <%= @board.name %></h2>

<%= will_paginate @topics %>
<%= link_to("Create New Topic", new_board_topic_path(@board)) if user_signed_in? %>
<table class="topics-list">
  <tr>
    <th>Title</th>
    <th>Replies</th>
    <th>Author</th>
    <th>Last Replied</th>
  </tr>
  <%= render :partial => "common/topic_row", 
    :collection => @topics, 
    :as => :topic, 
    :locals => {:board_column => false} 
  %>
</table>
<%= will_paginate @topics %>

