<li>
Category: <%= category.name %>

<% if can?(:manage, category) %>
<%= link_to("Edit", edit_admin_category_path(category)) %>
<%= link_to("Delete", admin_category_path(category), :confirm => 'Are you sure?', :method => :delete) %>
<% end %>

<% unless category.children.empty? and category.boards.empty? %>
  <ul>
  <% category.children.each do |subcategory| %>
    <%= render :partial => "admin/categories/category_node", :locals => { :category => subcategory } %>
  <% end %>
  <% category.boards.each do |board| %>
    <% if can?(:manage_content, board) %>
      <li>
        Board: <%= link_to(board.name, admin_board_topics_path(board)) %>
        <% if can?(:manage, board) %>
          <%= link_to("Edit", edit_admin_board_path(board)) %>
          <%= link_to("Delete", admin_board_path(board), :confirm => 'Are you sure?', :method => :delete) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>
</li>

