<%= render :partial => "common/error", :locals => { :errors => @category.errors } %>

<p>
<%= f.label(:name, "Name:") %> <br/>
<%= text_field(:category, :name) %>
</p>
<p>
<%= f.label(:parent, "Parent:") %> <br/>
<%= select_parent_tag(@category) %>
</p>
<%= f.submit %>

