<h2>Edit Post</h2>

<%= link_to("New Attachment", new_attachment_path, :target => "_blank") %>

<div>
Board: <%= @board.name %>
</div>
<div>
Title: <%= @topic.title %>
</div>

<%= form_for([@board, @topic, @post]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<%= render :partial => "common/new_attachment" %>

