
<h2>New Reply</h2>

<%= link_to("New Attachment", new_attachment_path, :target => "_blank") %>

<div>
Board: <%= @board.name %>
</div>
<div>
Title: <%= @topic.title %>
</div>

<%= form_for([@board, @topic, @post]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<div id="attachments">
<%= link_to("New Attachment", new_attachment_path, :target => "_blank") %><br/>
Attachments Preview: 
<div id="attachment-preview"></div>
</div>

