<%= category_tree %>

<h2>Category: <%= @category.name %></h2>

<%= will_paginate @topics %>
<table class="topics-list">
  <tr>
    <th>Title</th>
    <th>Board</th>
    <th>Replies</th>
    <th>Author</th>
    <th>Last Replied</th>
  </tr>
  <%= render :partial => "topic", :collection => @topics %>
</table>
<%= will_paginate @topics %>

