<tr>
  <td>
    <%= link_to(topic.title, board_topic_path(topic.board, topic)) %>
  </td>
  <% if board_column %>
  <td>
    <%= link_to(topic.board.name, board_path(topic.board)) %>
  </td>
  <% end %>
  <td>
    <%= topic.posts_count - 1 %>
  </td>
  <td>
    <%= user_link(topic.user)%><br/>
    <%= topic.created_at %>
  </td>
  <td>
    <% if topic.last_reply %>
      <%= user_link(topic.last_reply.user)%><br/>
      <%= topic.last_reply.created_at %>
    <% else %>
      None
    <% end %>
  </td>
</tr>
