<!DOCTYPE html>
<html>
<head>
  <title>ForumApp</title>
  <%= stylesheet_link_tag ["reset", "text", "960", "forum"] %>
  <%= javascript_include_tag ["jquery", "rails", "forum"] %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="flash-messages">
  TODO: Adjust My Position<br/>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<div class="container_12">
  <div id="content" class="grid_9">
    <div class="box">
      <%= yield %>
      &nbsp;
    </div>
  </div>
  <div id="sidebar" class="grid_3">
    <div class="box">
      <h2>Sidebar</h2>
      <%= render :partial => "categories/category_tree" %>
    </div>
  </div>
</div>

</body>
</html>
