<!DOCTYPE html>
<html>
<head>
  <title>ForumApp</title>
  <%= stylesheet_link_tag ["reset", "text", "960", "forum"] %>
  <%= javascript_include_tag ["jquery", "rails", "forum"] %>
  <%= csrf_meta_tag %>
</head>
<body>


<div class="container_12">
  <div id="header" class="grid_12">
    <%= render :partial => "common/navbar" %>
  </div>
  <div class="clear"></div>

  <%= content_tag(:div, :class => "grid_#{content_for(:sidebar) ? 9 : 12}") do %>
    <div class="box">
      <div class="flash-messages">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= content_for?(:main_content) ? yield(:main_content) : yield %>
    </div>
  <% end %>

  <% if content_for?(:sidebar) %>
    <div id="sidebar" class="grid_3">
      <div class="box">
        <h2>Sidebar</h2>
        <%= yield :sidebar %>
      </div>
    </div>
  <% end %>
</div>

</body>
</html>

